.Experiences
  .Experiences-wrapper 
    h3.Title Kinh nghiệm làm việc

    .Experiences-timeline 
      +Timeline({
        title: '2007',
        active: true,
        suffixTitle: 'THAM GIA THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khu phố thương mại và chợ Hải Tân - Hải Dương',
        ]
      })

      +Timeline({
        title: '2008',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khu phố thương mại và thu chợ Thông - Hải Dương',
        ]
      })

      +Timeline({
        title: '2009',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khu dân cư ven đường 395 - Hải Dương',
        ]
      })

      +Timeline({
        title: '2010 - 2011',
        active: true,
        suffixTitle: 'THAM GIA THIẾT KẾ',
        classSuffixTitle: 'red',
        type: 'expand',
        data: [
          '• Khu trung tâm thương mại, văn phòng, chung cư và trường mầm non tại số 609 Trương Định - Hà Nội',
        ]
      })

      +Timeline({
        title: '2011 - 2013',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        type: 'expand',
        data: [
          '• Tổ hợp trung tâm thương mại, văn phòng, nhà ở cao cấp tại số 210 Quang Trung - Hà Đông - Hà Nội',
          '• Tổ hợp chung cư, văn phòng Mekong Land - Hà Nội',
          '• Tòa nhà Sky Garden Tower - Hà Nội',
        ]
      })

      +Timeline({
        title: '2011 - 2013',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        classSuffixTitle: 'orange',
        type: 'expand',
        data: [
          '• Tổ hợp trung tâm thương mại, văn phòng, nhà ở cao cấp tại số 210 Quang Trung - Hà Đông - Hà Nội',
          '• Tổ hợp chung cư, văn phòng Mekong Land - Hà Nội',
          '• Tòa nhà Sky Garden Tower - Hà Nội',
        ]
      })

      +Timeline({
        title: '2012',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        type: 'expand',
        data: [
          '• Tổ hợp công trình số 3 Lương Yên - Hà Nội',
          '• Trường đại học Dược Hà Nội – cơ sở Bắc Ninh',
        ]
      })

      +Timeline({
        title: '2013 - 2014',
        suffixTitle: 'THAM GIA THIẾT KẾ',
        classSuffixTitle: 'red',
        type: 'expand',
        data: [
          '• Dự án đường sắt trên cao - Hà Nội',
        ]
      })

      +Timeline({
        title: '2014 - 2015',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khu hỗn hợp nhà ở, dịch vụ thương mại, văn phòng trường học GP - complex - Hà Nội',
          '• Tòa nhà Sky Garden Tower (1 tầng hầm, 28 tầng nổi) - 115 Định Công - Hà Nội (giai đoạn 2)',
          '• Dự án đầu tư nhà máy kéo sợi tại KCN Đồng Văn – Hà Nam',
        ]
      })

      +Timeline({
        title: '2015',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        classSuffixTitle: 'orange',
        type: 'expand',
        data: [
          '• Trụ sở công ty, trung tâm thương mại, và văn phòng cho thuê (2 tầng hầm, 18 tầng nổi) – 125 Hoàng Ngân - HN',
          '• CHT Tower - Đà Nẵng',
          '• Dự án Xây dựng bể bơi trong khuôn viên Nhà khách La Thành (4 tầng) - Ba Đình - Hà Nội',
          '• Dự án Lào Cai The Manor (2 tầng hầm, 27 tầng nổi) - Lào Cai',
        ]
      })

      +Timeline({
        title: '2016',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khách sạn Bảo Anh (16 tầng) - Sầm Sơn - Thanh Hóa',
          '• Dự án cải tạo nhà khách 37 Hùng Vương - Hà Nội',
          '• Khách sạn Hải An (1 tầng hầm, 18 tầng nổi) - Đà Nẵng',
          '• Bể bơi thuộc dự án nhà ở Xã hội Rice City Linh Đàm (Bể bơi ngầm 1 tầng) - Q. Hoàng Mai - Hà Nội',
          '• Khách sạn Joytrip (1 tầng hầm, 26 tầng nổi) - Nha Trang - Khánh Hòa',
          '• Khách sạn Premier (2 tầng hầm, 26 tầng nổi) - Nha Trang - Khánh Hòa',
        ]
      })

      +Timeline({
        title: '2017',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        classSuffixTitle: 'red',
        type: 'expand',
        data: [
          '• Khách sạn The CODE (1 tầng hầm, 22 tầng nổi) Đà Nẵng',
        ]
      })

      +Timeline({
        title: '2018',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        type: 'expand',
        data: [
          '• Khách sạn The Time (1 tầng hầm, 18 tầng nổi) - Nha Trang',
          '• Khách sạn 101 (1 tầng hầm, 22 tầng nổi) - Nha Trang',
        ]
      })

      +Timeline({
        title: '2019',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        classSuffixTitle: 'orange',
        type: 'expand',
        data: [
          '• Khu TTDV Du lịch biển Nam Hùng – Nha Trang (1 tầng hầm, 12 tầng nổi)',
          '• TTTM Quảng Ngãi (6 tầng)',
        ]
      })

      +Timeline({
        title: '2020',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        active: true,
        type: 'expand',
        data: [
          '• Khu cao ốc chung cư và thương mại Metro Star - TP. Hồ Chí Minh (2 tầng hầm, 29 tầng nổi)',
          '• Khu nhà ở thấp tầng dự án TNG Star Cường Thịnh - Lào Cai',
        ]
      })

      +Timeline({
        title: '2021',
        suffixTitle: 'CHỦ TRÌ THIẾT KẾ',
        classSuffixTitle: 'red',
        type: 'expand',
        data: [
          '• Khách sạn TNG Star SOJO Cần thơ (1 tầng hầm, 10 tầng nổi)',
        ]
      })


