extends includes/layouts/Guest.pug

block pages
  main.Main 
    .Main-wrapper.flex 
      .Main-wrapper-item
        include includes/containers/Sidebar.pug

      .Main-wrapper-item
        include includes/containers/Experiences.pug

